/* Box Model Hack */
* {
     box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

.navContainer{
     background-color: white;
     height: 60px;
}
.landingSection{
     background-image: url(../css/img/Intro.png);
     background-size: cover;
     background-position: center;
     height: 600px;
}

.aboutMeSection{
     height: 920px;
     background-image: url(../css/img/About\ Me.png);
     background-size: cover;
     background-position: center;
     color: white;
}
.projectSection {
     height: 750px;
     background-image: url(../css/img/Projects.png);
     background-size: cover;
     background-position: center;
}
.contactMeSection{
     height: 920px;
     background-image: url(../css/img/Contact\ Me.png);
     background-size: cover;
     background-position: center;
}
.footerSection{
     height: 600px;
     background-color: gainsboro;
}
/******************************************
/* LAYOUT
/*******************************************/
.navUL{
     display: flex;
     justify-content: space-between;
     margin: 0;
     height: 100%;
}
.navLogo,.navBtn{
     display: flex;
     align-items: center;
     text-decoration: none;
}
.navBtn{
     padding-right: 80px;
}
.logo{
     width: 35px;
}
.navLogo li, .navBtn li{
     margin-right: 20%;
     
}
.landingSecondSec{
     display: flex;
     justify-content: space-around;
     padding-top: 9%;
}
.aboutMeSection{
     text-align: center;
}
.aboutMeSection h1 {
     margin: 0;
     padding-top: 12%;
}
.aboutMeSection p{
     padding : 5% 5% 0% 5%;
}
.projectSection{
     display: flex;
     flex-direction: row;
     justify-content: space-evenly;
     align-items: center;
}
.projectContainer{
     width: 470px;
     height: 300px;
     background-color: peachpuff;
     cursor: pointer;
}
.projectContainer:hover {
     /* Set pointer-events to "auto" to allow clicks */
     pointer-events: auto;
 }
 .projectContainer * {
     /* Set pointer-events to "none" for child elements to allow clicks to pass through */
     pointer-events: none;
 }

 .contactCard{
     padding-top: 20%;
     display: flex;
     justify-content: center;
     align-items: center;
 }

/******************************************
/* ADDITIONAL STYLES
/*******************************************/

.navUL li{
     list-style: none;
}
.line{
     margin-right: 10px;
     
}
.cardHolder{
     position: relative;
     width: 250px;
     height: 350px;
     perspective: 1000px;
}
.theCard{
     position: absolute;
     width: 100%;
     height: 100%;
     transform-style: preserve-3d;
     transition: all 0.5s ease;
}
.cardHolder:hover .theCard{
     transform: rotateY(180deg);
}
.frontCard{
     position: absolute;
     height: 100%;
     width: 100%;
     backface-visibility: hidden;
     background: gray;
     color: black;
}
.backCard{
     position: absolute;
     height: 100%;
     width: 100%;
     backface-visibility: hidden;
     background: black;
     color: white;
     transform: rotateY(180deg);
}



/******************************************
/* BUTTONS
/*******************************************/

.requestBtn {
     position: relative;
     background: #444;
     color: black;
     text-decoration: none;
     text-transform: uppercase;
     border: none;
     letter-spacing: 0.1rem;
     font-size: 1rem;
     padding: 0.6rem 1rem;
     transition: 0.4s;
     border-radius: 15px;
     
   }
   
   .requestBtn:hover {
     letter-spacing: 0.2rem;
     padding: 0.9rem 2.1rem;
     background: var(--clr);
     color: var(--clr);
     /* box-shadow: 0 0 35px var(--clr); */
     animation: box 3s infinite;
     border-radius: 15px;
   }
   
   .requestBtn.requestBtn::before {
     content: "";
     position: absolute;
     inset: 2px;
     background: white;
     border-radius: 15px;
   }
   
   .requestBtn .requestSpan {
     position: relative;
     z-index: 1;
   }
   .requestBtn i {
     position: absolute;
     inset: 0;
     display: block;
   }
   
   .requestBtn i::before {
     content: "";
     position: absolute;
     width: 10px;
     height: 2px;
     left: 80%;
     top: -2px;
     border: 2px solid var(--clr);
     background: #272822;
     transition: 0.2s;
   }
   
   .requestBtn:hover i::before {
     width: 15px;
     left: 20%;
     animation: move 3s infinite;
   }
   
   .requestBtn i::after {
     content: "";
     position: absolute;
     width: 10px;
     height: 2px;
     left: 20%;
     bottom: -2px;
     border: 2px solid var(--clr);
     background: #272822;
     transition: 0.2s;
   }
   
   .requestBtn:hover i::after {
     width: 15px;
     left: 80%;
     animation: move 3s infinite;
   }
   
   @keyframes move {
     0% {
       transform: translateX(0);
     }
     50% {
       transform: translateX(5px);
     }
     100% {
       transform: translateX(0);
     }
   }
   
   @keyframes box {
     0% {
       box-shadow: #27272c;
     }
     50% {
       box-shadow: 0 0 25px var(--clr);
     }
     100% {
       box-shadow: #27272c;
     }
   }
   



/******************************************
/* FORM
/*******************************************/

form {
     max-width: 400px;
     margin: 0 auto;
 }

 label {
     margin-bottom: 8px;
 }

 input, .formBtn {
     width: 100%;
     padding: 10px;
     margin-bottom: 16px;
     box-sizing: border-box;
 }