/* Box Model Hack */
* {
     box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

.navContainer{
     background-color: white;
}
.landingSection{
     background-image: url(../css/img/Intro.png);
     background-size: cover;
     background-position: center;
     height: 600px;
}

.aboutMeSection{
     height: 920px;
     background-image: url(../css/img/About\ Me.png);
     background-size: cover;
     background-position: center;
     color: white;
}
.projectSection {
     height: 920px;
     background-image: url(../css/img/Projects.png);
     background-size: cover;
     background-position: center;
}
.contactMeSection{
     height: 920px;
     background-image: url(../css/img/Contact\ Me.png);
     background-size: cover;
     background-position: center;
}
.footerSection{
     height: 600px;
     background-color: gainsboro;
}
/******************************************
/* LAYOUT
/*******************************************/

.navUL{
     display: flex;
     justify-content: space-between;
     margin: 0;
}
.navLogo,.navBtn{
     display: flex;
}
.navBtn{
     padding-right: 80px;
}
.navLogo li, .navBtn li{
     margin-right: 20%;
}
.landingSecondSec{
     display: flex;
     justify-content: space-around;
     padding-top: 12%;
}
.aboutMeSection{
     text-align: center;
}
.aboutMeSection h1 {
     margin: 0;
     padding-top: 12%;
}
.aboutMeSection p{
     padding : 5% 5% 0% 5%;
}
.projectSection{
     display: flex;
     align-items: center;
     justify-content: space-around;
}
.projectContainer{
     width: 250px;
     height: 500px;
     background-color: peachpuff;
     cursor: pointer;
}
.projectContainer:hover {
     /* Set pointer-events to "auto" to allow clicks */
     pointer-events: auto;
 }
 .projectContainer * {
     /* Set pointer-events to "none" for child elements to allow clicks to pass through */
     pointer-events: none;
 }

 .contactCard{
     padding-top: 20%;
     display: flex;
     justify-content: center;
     align-items: center;
 }

/******************************************
/* ADDITIONAL STYLES
/*******************************************/

.navUL li{
     list-style: none;
}

.cardHolder{
     position: relative;
     width: 250px;
     height: 350px;
     perspective: 1000px;
}
.theCard{
     position: absolute;
     width: 100%;
     height: 100%;
     transform-style: preserve-3d;
     transition: all 0.5s ease;
}
.cardHolder:hover .theCard{
     transform: rotateY(180deg);
}
.frontCard{
     position: absolute;
     height: 100%;
     width: 100%;
     backface-visibility: hidden;
     background: gray;
     color: black;
}
.backCard{
     position: absolute;
     height: 100%;
     width: 100%;
     backface-visibility: hidden;
     background: black;
     color: white;
     transform: rotateY(180deg);
}



/******************************************
/* BUTTONS
/*******************************************/

.requestBtn{
     display: inline-block;
     padding: 10px 20px;
     background-color: #3498db;
     color: #ffffff;
     text-decoration: none; /* Remove default underline */
     border-radius: 5px;
     cursor: pointer;
     font-size: 16px;
     width: 200px;
     text-align: center;
}



/******************************************
/* FORM
/*******************************************/

form {
     max-width: 400px;
     margin: 0 auto;
 }

 label {
     margin-bottom: 8px;
 }

 input, button {
     width: 100%;
     padding: 10px;
     margin-bottom: 16px;
     box-sizing: border-box;
 }