/* Box Model Hack */
* {
     box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

.navContainer{
     background-color: white;
     height: 60px;
}
.landingSection{
     background-image: url(../css/img/Intro.png);
     background-size: cover;
     background-position: center;
     height: 600px;
}

.aboutMeSection{
     height: 1200px;
     background-image: url(../css/img/About\ Me.png);
     background-size: cover;
     background-position: center;
     color: white;
}
.projectSection {
     height: 750px;
     background-image: url(../css/img/Projects.png);
     background-size: cover;
     background-position: center;
}
.contactMeSection{
     height: 1100px;
     background-image: url(../css/img/Contact\ Me.png);
     background-size: cover;
     background-position: center;
}
.footerSection{
     height: 600px;
     background-color: gainsboro;
}
/******************************************
/* LAYOUT
/*******************************************/
.navUL{
     display: flex;
     justify-content: space-between;
     margin: 0;
     height: 100%;
     padding-left: 5%;
}
.navLogo,.navBtn{
     display: flex;
     align-items: center;
     text-decoration: none;
     position: relative;
}
.navLogo li {
     font-size: 1.1rem;
}
.navBtn{
     padding-right: 80px;
}
.logo{
     width: 35px;
}
.navLogo li, .navBtn li{
     margin-right: 20%;
     color: black;
     
}
.landingSecondSec{
     display: flex;
     justify-content: space-around;
     padding-top: 9%;
}
.aboutMeSection{
     display: flex;
     align-items: center;
}
.aboutPicSec{
     width: 50%;
     display: flex;
     justify-content: center;
     padding: 0% 0% 0% 0%;
}
.aboutContentSec{
     width: 50%;
}
.projectSection{
     display: flex;
     flex-direction: row;
     justify-content: space-evenly;
     align-items: center;
}
.projectContainer{
     width: 470px;
     height: 300px;
     background-color: peachpuff;
     cursor: pointer;
}
.projectContainer:hover {
     /* Set pointer-events to "auto" to allow clicks */
     pointer-events: auto;
 }
 .projectContainer * {
     /* Set pointer-events to "none" for child elements to allow clicks to pass through */
     pointer-events: none;
 }
 .contactMeSection{
     display: flex;
     justify-content: center;
     align-items: center;
 }
 .contactCard{
     border: 1px solid #06153B;
     height: 600px;
     width: 1300px;
     border-radius: 20px;
     margin-top: 6%;
     display: flex;
 }
 .contactLeft{
     background-color:#06153B;
     color: white;
     border-radius: 20px 0 0 20px;
     width: 50%;
     display: flex;
     flex-direction: column;
     
 }
 .contactRight{
     background-color: white;
     width: 50%;
     border-radius: 0px 20px 20px 0px;
 }
 .contractLefth4{
     padding : 40% 0 0 5%;
     font-size: 1.2rem;
 }
 .contractLefth2{
     text-align: center;
     font-size: 2.5rem;
 }

/******************************************
/* ADDITIONAL STYLES
/*******************************************/

.navUL li{
     list-style: none;
}
.line{
     margin-right: 6px;
     margin-left: 10px; 
     width: 26px; 
     height: 21px; 
     background-color: black; 
}
.cardHolder{
     position: relative;
     width: 250px;
     height: 350px;
     margin-right: 9%;
}
.theCard{
     position: absolute;
     width: 185%;
     height: 100%;
     transform-style: preserve-3d;
     transition: all 1s ease;
}
.cardHolder:hover .theCard{
     transform: rotateY(180deg);
}
.frontCard{
     position: absolute;
     height: 75%;
     width: 100%;
     backface-visibility: hidden;
     background-image: url(../css/img/frontCard.png);
     background-size: contain;
     color: black;
}
.backCard{
     position: absolute;
     height: 75%;
     width: 100%;
     backface-visibility: hidden;
     background-image: url(../css/img/backCard.png);
     background-size: contain;
     color: white;
     transform: rotateY(180deg);
}

.noura{
     font-family: 'Yellowtail', cursive;
     font-size: 4rem;
     color: #8bb9dc;
}
.designPassion{
     font-family: 'Marcellus', serif;
     font-size: 2.5rem;
     color: #06153b;
     margin: 0px 0px 0px 0px;
}
.fontMontserrat{
     font-family: 'Montserrat', sans-serif;
}
.designPassionDown{
     margin-bottom: 15px;
}
.designPassionUp{
     margin-top: 50px;
}
.aboutFontH1{
     font-size: 3.5rem;
     margin : 0% 0% 8% 15%;
}
.aboutFontP{
     font-size: 1.2rem;
     line-height: 2rem;
     margin-left: 15%;
}
.aboutPic{
     width: 55%;
}
/******************************************
/* BUTTONS
/*******************************************/

.requestBtn {
     position: relative;
     background:#06153b;
     color:#06153b;
     text-decoration: none;
     text-transform: uppercase;
     border: none;
     letter-spacing: 0.1rem;
     font-size: 1rem;
     padding: 0.6rem 1rem;
     transition: 0.4s;
     border-radius: 15px;
     
   }
   
   .requestBtn:hover {
     letter-spacing: 0.2rem;
     padding: 0.9rem 2.1rem;
     background: var(--clr);
     color: var(--clr);
     /* box-shadow: 0 0 35px var(--clr); */
     animation: box 3s infinite;
     border-radius: 15px;
     cursor: pointer;
   }
   
   .requestBtn.requestBtn::before {
     content: "";
     position: absolute;
     inset: 2px;
     background:#8bb9dc;
     border-radius: 15px;
   }
   
   .requestBtn .requestSpan {
     position: relative;
     z-index: 1;
   }
   .requestBtn i {
     position: absolute;
     inset: 0;
     display: block;
   }
   
   .requestBtn i::before {
     content: "";
     position: absolute;
     width: 10px;
     height: 2px;
     left: 80%;
     top: -2px;
     border: 2px solid var(--clr);
     background:#06153b;
     transition: 0.2s;
   }
   
   .requestBtn:hover i::before {
     width: 15px;
     left: 20%;
     animation: move 3s infinite;
   }
   
   .requestBtn i::after {
     content: "";
     position: absolute;
     width: 10px;
     height: 2px;
     left: 20%;
     bottom: -2px;
     border: 2px solid var(--clr);
     background: #272822;
     transition: 0.2s;
   }
   
   .requestBtn:hover i::after {
     width: 15px;
     left: 80%;
     animation: move 3s infinite;
   }
   
   @keyframes move {
     0% {
       transform: translateX(0);
     }
     50% {
       transform: translateX(5px);
     }
     100% {
       transform: translateX(0);
     }
   }
   
   @keyframes box {
     0% {
       box-shadow: #27272c;
     }
     50% {
       box-shadow: 0 0 25px var(--clr);
     }
     100% {
       box-shadow: #27272c;
     }
   }
   



/******************************************
/* FORM
/*******************************************/

.form-group {
     position: relative;
     margin-bottom: 40px;
     margin-left: 5%;
   }

   .form-group input {
     max-width: 90%;
     width: 100%;
     border: none;
     border-bottom: 1px solid #000;
     outline: none;
     font-size: 1.1rem;
     overflow-wrap: break-word;
     
   }
   .indent-text{
     max-width: 90%;
     width: 100%;
     height: 200px;
   }

   .form-group label {
     position: absolute;
     bottom: -20px;
     left: 0;
     color: #06153b6c;
     font-size: 1.1rem;
   }
   .formBtn{
     margin-left: 5%;
   }
.contactRight form{
          margin-top: 10%;
}
.howHelpForm{
     margin-top: 10%;
}